---
const currentYear = new Date().getFullYear();
const copyrightSymbol = "\u00A9";
const copyrightString = `${copyrightSymbol} ${currentYear} Michael Hardin.`;
---
<div>{copyrightString} This site is open source!</div>